
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Cinema </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"  crossorigin="anonymous">

 <style>
    body {
            background-color: #292b2c;
             font-family: "Roboto", sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
    }
    .login-page {
         padding: 155px;
    }
    </style>
</head>
<body>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" value="login">Entrar</button>
</form>
{##}
{#<div class="login-page" >#}
{#<div class="col d-flex justify-content-center">#}
{#    <div class="card w-50">#}
{#          <div class="card-body bg-light text-dark">#}
{##}
{##}
{#              <div class="container">#}
{#                  <div class=" row y justify-content-center">#}
{#                        <img src="{% static 'img/icona_cine.png' %}" alt="Logo">#}
{#                  </div>#}
{#              </div>#}
{#              <h5 class="card-title text-center" >Welcome to the cinema</h5>#}
{##}
{#              {% if form.errors %}#}
{#              <div class="alert alert-danger alert-dismissible fade show" role="alert">#}
{#                  <p>Your username and password didn't match. <br> Please try again.</p>#}
{#                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">#}
{#                    <span aria-hidden="true">&times;</span>#}
{#                  </button>#}
{#              </div>#}
{#              {% endif %}#}
{##}
{#             <div class="container">#}
{#                     <form method="post">#}
{#                        {% csrf_token %}#}
{##}
{#                         {% if form.errors %}#}
{#                                <p>Something is wrong</p>#}
{#                         {% endif %}#}
{##}
{#                    <div class="form-floating p-2">#}
{#                      <input type="email" class="form-control" id="floatingInput" placeholder="User Name" name="username">#}
{#                    </div>#}
{#                    <div class="form-floating p-2">#}
{#                      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">#}
{#                    </div>#}
{#                    </form> <br>#}
{#                         <button class="w-100 btn btn-lg btn-dark p-2 " type="submit">Sign in</button>#}
{##}
{#            </div>#}
{#          </div>#}
{#    </div>#}
{#</div>#}
{#</div>#}

</body>
</html>


