{% extends "base.html" %}
{% load static %}

{% block content %}
<br><br>
<div class="col d-flex justify-content-center">
    <div class="card bg-light text-dark">

        <div class="card-header">
    <h5 class="card-title"> Create Session </h5>
  </div>
  <div class="card-body">
    <form method="post" action="">
        {% csrf_token %}
          <div class="form-group">
                   <label >Name</label>
        {{ form.hall }}
              </div>
              <div class="form-group">
                  <label >Schedule</label>
         {{ form.schedule }}
              </div>
              <div class="form-group">
                  <label >Date</label>
         {{ form.date }}
                 </div>
         <button onclick='this.parentNode.submit(); return false;' class="btn btn-sl  btn-dark" value="Submit" ><i class="fas fa-plus-square"></i> Submit
                    </button>
    </form>

</div>
</div>
</div>
<br><br><br><br>

 {% endblock %}