{% extends "base.html" %}
{% load static %}

{% block scriptp %}
     <script data-require="jquery@*" data-semver="2.2.0" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <script>
        plot="";
        genre="";
        duration="";
        released="";
        poster="";
    $(function() {
      $("#name").autocomplete({
        source: function(request, response) {
          $.ajax({
            url: "http://www.omdbapi.com/?",
            dataType: "json",
            data: {
                limit:10,
              apikey: "b13b52b0",
              t: request.term
            },
            success: function(data) {
              console.log(data);
              plot=data.Plot;
              genre=data.Genre;
              duration=data.Runtime;
              released=data.Year;
              poster=data.Poster;
              response([data.Title]);
            }
          });
        },
        minLength: 2,
          select: function(event, ui) {
          if (ui.item) {
            $("#description").val(plot);
            $("#genre").val(genre);
            $("#duration").val(duration);
            $("#released").val(released);
            $("#poster").val(poster);
            document.getElementById("myImg").src = poster;
          }
        }
      });
    });
  </script>
{% endblock %}

{% block content %}
<br><br>
<div class="col d-flex justify-content-center">
    <div class="card bg-light text-dark">

        <div class="card-header">
    <h5 class="card-title"> Create Movie </h5>
  </div>
  <div class="card-body">

        <form method="post" action="">
        {% csrf_token %}

 <div class="row">
            <div class="col-sm">
                         <div class="form-group">
                            <label >Name</label>
                        <input id="name" class="form-control" name="name">
                     </div>
                    <div class="form-group">
                            <label >Description</label>
                        <textarea id="description" class="form-control" name="description"></textarea>
                    </div>
                    <div class="form-group">
                            <label >Genre</label>
                        <input id="genre" class="form-control" name="genre">
                    </div>
                    <div class="form-group">
                            <label >Duration</label>
                        <input id="duration" class="form-control" name="duration"> </div>
                    <div class="form-group">
                            <label >Released</label>
                        <input id="released" class="form-control" name="released">
                        </div>
            </div>
            <div class="col-sm">
                <input id="poster" name="poster" style=" visibility: hidden;">

                 <img id="myImg" width="300" height="300">
            </div>
        </div>

             <button onclick='this.parentNode.submit(); return false;' class="btn btn-sl  btn-dark"  ><i class="fas fa-trash-alt"></i> Submit
                    </button>
    </form>
        </div>

</div>
</div>
<br><br>

{% endblock %}